*{
    margin: 0;
    padding: 0%;
}

.container{
    width: 500px;
    height: 250px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}

#yellow{
    background-color: yellow;
    padding: 50px 25px;
    display: block;
    margin-left: 30%;
}

#yellow2{
    background-color: yellow;
    padding: 25px 250px;
    display: block;
}

